openapi: 3.1.0
info:
  description: "Zebra/ZPL developer tools: render ZPL to PNG, convert PDFs and images\
    \ to print-ready ZPL, and drive hosted virtual Zebra printers for testing. Authenticate\
    \ with an API key via `Authorization: Bearer sh_live_…` or `X-Api-Key`."
  title: Stripy Horse API
  version: 1.0.0
servers:
- url: https://api.stripyhorse.io
- url: https://stripyhorse.io
paths:
  /v1/convert:
    post:
      description: Each page becomes its own ^GFA command (Zebra ACS run-length compression).
        PDFs up to 16 pages.
      operationId: convertDocument
      requestBody:
        content:
          multipart/form-data:
            encoding:
              barcodeAware:
                contentType: text/plain
                style: form
              compression:
                contentType: text/plain
                style: form
              dpmm:
                contentType: text/plain
                style: form
              file:
                contentType: application/octet-stream
                style: form
              heightMm:
                contentType: text/plain
                style: form
              preset:
                contentType: text/plain
                style: form
              rotation:
                contentType: text/plain
                style: form
              scale:
                contentType: text/plain
                style: form
              threshold:
                contentType: text/plain
                style: form
              widthMm:
                contentType: text/plain
                style: form
            schema:
              $ref: "#/components/schemas/convertDocument_request"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConvertOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Convert a PDF or image to ZPL
      tags:
      - Convert
      x-codeSamples:
      - lang: bash
        label: curl
        source: |-
          STRIPY_HORSE_API_KEY=""
          curl https://api.stripyhorse.io/v1/convert \
            -H "X-Api-Key: $STRIPY_HORSE_API_KEY" -F file=@shipping-label.pdf -F preset=4x6
      - lang: go
        label: Go
        source: |-
          pdf, _ := os.Open("shipping-label.pdf")
          defer pdf.Close()
          result, _, err := client.ConvertAPI.ConvertDocument(ctx).File(pdf).Preset("4x6").Execute()
          if err != nil {
              log.Fatal(err)
          }
          for _, page := range result.GetPages() {
              sendToPrinter(page.GetZpl())
          }
      - lang: php
        label: PHP
        source: |-
          $convert = new StripyHorse\Api\ConvertApi(null, $config);
          $result = $convert->convertDocument(new SplFileObject('shipping-label.pdf'), preset: '4x6');
          foreach ($result->getPages() as $page) { sendToPrinter($page->getZpl()); }
      - lang: python
        label: Python
        source: |-
          convert = ConvertApi(client)
          result = convert.convert_document(file="shipping-label.pdf", preset="4x6")
          for page in result.pages:
              send_to_printer(page.zpl)
      - lang: csharp
        label: C#
        source: |-
          var convert = new ConvertApi(config);
          using var pdf = File.OpenRead("shipping-label.pdf");
          var result = convert.ConvertDocument(pdf, preset: "4x6");
          foreach (var page in result.Pages)
              SendToPrinter(page.Zpl);
      - lang: java
        label: Java
        source: |-
          ConvertApi convert = new ConvertApi(client);
          ConvertOutputBody result = convert.convertDocument(
              new File("shipping-label.pdf"),
              null, null, null, null, "4x6", null, null, null, null);
          for (ConvertedPage page : result.getPages())
              sendToPrinter(page.getZpl());
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
      - application/problem+json
  /v1/convert/batch:
    post:
      description: "Upload up to 20 PDFs/images as repeated `files` fields. The response\
        \ is application/x-ndjson: one JSON object per converted page, streamed as\
        \ each page finishes: `{\"file\":…,\"page\":…,\"pageCount\":…,\"zpl\":…}`\
        \ on success, `{\"file\":…,\"error\":…}` per failed file (remaining files\
        \ still convert)."
      operationId: convertBatch
      requestBody:
        content:
          multipart/form-data:
            encoding:
              barcodeAware:
                contentType: text/plain
                style: form
              compression:
                contentType: text/plain
                style: form
              dpmm:
                contentType: text/plain
                style: form
              files:
                contentType: application/octet-stream
                style: form
              heightMm:
                contentType: text/plain
                style: form
              preset:
                contentType: text/plain
                style: form
              rotation:
                contentType: text/plain
                style: form
              scale:
                contentType: text/plain
                style: form
              threshold:
                contentType: text/plain
                style: form
              widthMm:
                contentType: text/plain
                style: form
            schema:
              $ref: "#/components/schemas/convertBatch_request"
      responses:
        "200":
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: "Convert many documents in one request, results streamed"
      tags:
      - Convert
      x-content-type: multipart/form-data
      x-accepts:
      - application/problem+json
  /v1/convert/html:
    post:
      description: |-
        Renders the HTML at exact print resolution (headless Chrome, network access blocked) and rasterizes it, except `<zpl-barcode type="code128|qr" data="…">` elements, which are measured from the layout and emitted as native ^BC/^BQ fields at their exact boxes. Size and position them with CSS (`left/top/width/height`); optional `module` (^BY dots) and `mag` (QR magnification) attributes pin exact bar geometry instead of fitting it to the box. Unsupported types or unencodable data fail loudly.

        **PHP** (`composer require stripyhorse/stripyhorse-php`):
        ```php
        $out = $convert->convertHtml(new StripyHorse\Model\HtmlInputBody([
            'html' => '<div style="position:absolute;left:40px;top:40px;font-size:50px">Hello</div>',
            'preset' => '4x6',
        ]));
        echo $out->getZpl();
        ```
      operationId: convertHtml
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HtmlInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HtmlOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Convert an HTML label design to ZPL
      tags:
      - Convert
      x-codeSamples:
      - lang: bash
        label: curl
        source: |-
          STRIPY_HORSE_API_KEY=""
          curl https://api.stripyhorse.io/v1/convert/html \
            -H "X-Api-Key: $STRIPY_HORSE_API_KEY" -H "Content-Type: application/json" \
            -d '{"html":"<div style=\"position:absolute;left:40px;top:40px;font-size:50px\">Hello</div>","preset":"4x6"}'
      - lang: go
        label: Go
        source: |-
          body := stripyhorse.NewHtmlInputBody(`<div style="position:absolute;left:40px;top:40px;font-size:50px">Hello</div>`)
          body.SetPreset("4x6")
          out, _, err := client.ConvertAPI.ConvertHtml(ctx).HtmlInputBody(*body).Execute()
          if err != nil {
              log.Fatal(err)
          }
          fmt.Println(out.GetZpl())
      - lang: php
        label: PHP
        source: |-
          $out = $convert->convertHtml(new StripyHorse\Model\HtmlInputBody([
              'html' => '<div style="position:absolute;left:40px;top:40px;font-size:50px">Hello</div>',
              'preset' => '4x6',
          ]));
          echo $out->getZpl();
      - lang: python
        label: Python
        source: |-
          out = convert.convert_html(HtmlInputBody(
              html='<div style="position:absolute;left:40px;top:40px;font-size:50px">Hello</div>',
              preset="4x6"))
          print(out.zpl)
      - lang: csharp
        label: C#
        source: |-
          var outp = convert.ConvertHtml(new HtmlInputBody(
              html: """<div style="position:absolute;left:40px;top:40px;font-size:50px">Hello</div>""",
              preset: HtmlInputBody.PresetEnum._4x6));
          Console.WriteLine(outp.Zpl);
      - lang: java
        label: Java
        source: |-
          HtmlOutputBody out = convert.convertHtml(new HtmlInputBody()
              .html("<div style=\"position:absolute;left:40px;top:40px;font-size:50px\">Hello</div>")
              .preset(HtmlInputBody.PresetEnum._4X6));
          System.out.println(out.getZpl());
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/convert/zpl-html:
    post:
      description: "The migration path for legacy ZPL templates: text, boxes and Code128/QR\
        \ barcodes become editable HTML in the dialect convertHtml accepts; unsupported\
        \ elements (raster graphics, exotic barcodes) are embedded as positioned images\
        \ so the layout survives. Round-tripping through convertHtml preserves scannable\
        \ barcodes."
      operationId: convertZplToHtml
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ZplHTMLInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZplHTMLOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Decompile ZPL into editable HTML
      tags:
      - Convert
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/host-status/parse:
    post:
      description: "Parses the three-line ~HS answer a Zebra printer (or our virtual\
        \ printer) returns on port 9100 into typed fields - paper out, pause, buffer\
        \ contents, head temperature - so you never write a positional comma parser.\
        \ Accepts raw bytes, cat -v style ^B/^C markers, or hand-cleaned lines. Does\
        \ not count against your monthly quota."
      operationId: parseHostStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HostStatusInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HostStatusOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Decode a Zebra ~HS host status response
      tags:
      - Printers
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/labels/compose:
    post:
      description: "Labels as JSON: place text, barcodes (code128/39, QR, DataMatrix),\
        \ boxes, lines, circles, images and raw ZPL passthrough on a label and get\
        \ back ZPL - optionally with rendered previews. {{name}} in text/data interpolates\
        \ from the variables map; an unresolved variable is an error, never a blank\
        \ on a real shipment. Positions are printer dots."
      operationId: composeLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComposeInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComposeOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Compose ZPL from typed JSON elements
      tags:
      - Compose
      x-codeSamples:
      - lang: bash
        label: curl
        source: |-
          STRIPY_HORSE_API_KEY=""
          curl https://api.stripyhorse.io/v1/labels/compose \
            -H "X-Api-Key: $STRIPY_HORSE_API_KEY" -H "Content-Type: application/json" \
            -d '{
              "preset": "4x6",
              "variables": {"name": "Debbie Root", "track": "420546188580"},
              "elements": [
                {"type": "text", "x": 50, "y": 40, "text": "{{name}}", "fontHeight": 40},
                {"type": "barcode128", "x": 50, "y": 200, "data": "{{track}}", "height": 140},
                {"type": "box", "x": 20, "y": 20, "width": 770, "height": 400, "thickness": 3}
              ]
            }'
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/preflight:
    post:
      description: "Renders the ZPL and grades every barcode the way a verifier grades\
        \ a printed label: round-trip decode, measured module width in printer dots,\
        \ dot-grid alignment (catches rasterized barcodes), quiet zones in modules,\
        \ physical X-dimension against the spec minimum, blur tolerance, and a cross-density\
        \ table - plus static lint findings (structure, encoding traps, out-of-bounds\
        \ fields). Grade fail means a scanner will reject it; fix it before a truck\
        \ does."
      operationId: preflightLabel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreflightInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreflightOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Grade a label's barcodes before they ship
      tags:
      - Render
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/printers:
    get:
      description: "Every printer on your account, whichever of its keys created them."
      operationId: listPrinters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPrintersOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: List your printers
      tags:
      - Simulator
      x-accepts:
      - application/json
      - application/problem+json
    post:
      description: "Free tier: one ephemeral printer (24h idle TTL). Paid tiers: persistent\
        \ printers. The ingest URL and webhook secret are only returned here."
      operationId: createPrinter
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePrinterInputBody"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrinterBody"
          description: Created
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Create a virtual printer
      tags:
      - Simulator
      x-codeSamples:
      - lang: bash
        label: curl
        source: |-
          STRIPY_HORSE_API_KEY=""
          curl https://api.stripyhorse.io/v1/printers \
            -H "X-Api-Key: $STRIPY_HORSE_API_KEY" -H "Content-Type: application/json" \
            -d '{"name":"ci-run-42","preset":"4x6"}'
      - lang: go
        label: Go
        source: |-
          body := stripyhorse.NewCreatePrinterInputBody("ci-run-42")
          body.SetPreset("4x6")
          printer, _, err := client.SimulatorAPI.CreatePrinter(ctx).CreatePrinterInputBody(*body).Execute()
          if err != nil {
              log.Fatal(err)
          }
          addr := fmt.Sprintf("%s:%d", printer.GetTcp().GetHost(), printer.GetTcp().GetPort())
          // point the system under test at addr, then assert with ListJobs
      - lang: php
        label: PHP
        source: |-
          $sim = new StripyHorse\Api\SimulatorApi(null, $config);
          $printer = $sim->createPrinter(new StripyHorse\Model\CreatePrinterInputBody([
              'name' => 'ci-run-42', 'preset' => '4x6',
          ]));
          $addr = $printer->getTcp()->getHost() . ':' . $printer->getTcp()->getPort();
          // point the system under test at $addr, then assert with listJobs
      - lang: python
        label: Python
        source: |-
          sim = SimulatorApi(client)
          printer = sim.create_printer(CreatePrinterInputBody(name="ci-run-42", preset="4x6"))
          addr = f"{printer.tcp.host}:{printer.tcp.port}"
          # point the system under test at addr, then assert with list_jobs
      - lang: csharp
        label: C#
        source: |-
          var sim = new SimulatorApi(config);
          var printer = sim.CreatePrinter(new CreatePrinterInputBody(
              name: "ci-run-42", preset: CreatePrinterInputBody.PresetEnum._4x6));
          var addr = $"{printer.Tcp.Host}:{printer.Tcp.Port}";
          // point the system under test at addr, then assert with ListJobs
      - lang: java
        label: Java
        source: |-
          SimulatorApi sim = new SimulatorApi(client);
          PrinterBody printer = sim.createPrinter(new CreatePrinterInputBody()
              .name("ci-run-42").preset(CreatePrinterInputBody.PresetEnum._4X6));
          String addr = printer.getTcp().getHost() + ":" + printer.getTcp().getPort();
          // point the system under test at addr, then assert with listJobs
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/printers/{printerId}:
    delete:
      operationId: deletePrinter
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Delete a printer and its captured jobs
      tags:
      - Simulator
      x-accepts:
      - application/problem+json
    get:
      operationId: getPrinter
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrinterBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Get a printer with live state
      tags:
      - Simulator
      x-accepts:
      - application/json
      - application/problem+json
    patch:
      operationId: updatePrinter
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePrinterInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrinterBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Rename a printer or set its webhook URL
      tags:
      - Simulator
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/printers/{printerId}/faults:
    post:
      description: Blocking faults hold incoming jobs in the receive buffer; clearing
        them flushes the queue in order.
      operationId: setPrinterFaults
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Faults"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Inject or clear fault conditions
      tags:
      - Simulator
      x-codeSamples:
      - lang: bash
        label: curl
        source: |-
          STRIPY_HORSE_API_KEY=""
          curl https://api.stripyhorse.io/v1/printers/$PRINTER_ID/faults \
            -H "X-Api-Key: $STRIPY_HORSE_API_KEY" -H "Content-Type: application/json" \
            -d '{"paperOut":true}'
      - lang: go
        label: Go
        source: |-
          faults := stripyhorse.NewFaults()
          faults.SetPaperOut(true)
          client.SimulatorAPI.SetPrinterFaults(ctx, printer.GetId()).Faults(*faults).Execute()
          // print something - it holds. Clear to flush:
          client.SimulatorAPI.SetPrinterFaults(ctx, printer.GetId()).Faults(*stripyhorse.NewFaults()).Execute()
      - lang: php
        label: PHP
        source: |-
          $sim->setPrinterFaults($printerId, new StripyHorse\Model\Faults(['paper_out' => true]));
          // print something - it holds. Clear to flush:
          $sim->setPrinterFaults($printerId, new StripyHorse\Model\Faults());
      - lang: python
        label: Python
        source: |-
          sim.set_printer_faults(printer.id, Faults(paper_out=True))
          # print something - it holds. Clear to flush:
          sim.set_printer_faults(printer.id, Faults())
      - lang: csharp
        label: C#
        source: |-
          sim.SetPrinterFaults(printer.Id, new Faults(paperOut: true));
          // print something - it holds. Clear to flush:
          sim.SetPrinterFaults(printer.Id, new Faults());
      - lang: java
        label: Java
        source: |-
          sim.setPrinterFaults(printer.getId(), new Faults().paperOut(true));
          // print something - it holds. Clear to flush:
          sim.setPrinterFaults(printer.getId(), new Faults());
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/printers/{printerId}/jobs:
    delete:
      operationId: clearJobs
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Delete all captured jobs
      tags:
      - Simulator
      x-accepts:
      - application/problem+json
    get:
      description: For CI assertions and inbox views. Cursor-paged via before.
      operationId: listJobs
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: query
        name: limit
        required: false
        schema:
          default: 50
          format: int64
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Return jobs with id lower than this cursor
        explode: false
        in: query
        name: before
        required: false
        schema:
          description: Return jobs with id lower than this cursor
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListJobsOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: "List captured jobs, newest first"
      tags:
      - Simulator
      x-codeSamples:
      - lang: bash
        label: curl
        source: |-
          STRIPY_HORSE_API_KEY=""
          curl https://api.stripyhorse.io/v1/printers/$PRINTER_ID/jobs \
            -H "X-Api-Key: $STRIPY_HORSE_API_KEY"
      - lang: go
        label: Go
        source: |-
          jobs, _, err := client.SimulatorAPI.ListJobs(ctx, printer.GetId()).Execute()
          if err != nil {
              log.Fatal(err)
          }
          if len(jobs.GetJobs()) != 1 {
              log.Fatalf("expected 1 job, got %d", len(jobs.GetJobs()))
          }
          if jobs.GetJobs()[0].GetStatus() != "rendered" {
              log.Fatal("job did not render")
          }
      - lang: php
        label: PHP
        source: |-
          $jobs = $sim->listJobs($printerId);
          assert(count($jobs->getJobs()) === 1);
          assert($jobs->getJobs()[0]->getStatus() === 'rendered');
      - lang: python
        label: Python
        source: |-
          jobs = sim.list_jobs(printer.id)
          assert len(jobs.jobs) == 1
          assert jobs.jobs[0].status == "rendered"
      - lang: csharp
        label: C#
        source: |-
          var jobs = sim.ListJobs(printer.Id);
          Debug.Assert(jobs.Jobs.Count == 1);
          Debug.Assert(jobs.Jobs[0].Status == "rendered");
      - lang: java
        label: Java
        source: |-
          ListJobsOutputBody jobs = sim.listJobs(printer.getId(), null, null);
          assert jobs.getJobs().size() == 1;
          assert "rendered".equals(jobs.getJobs().get(0).getStatus());
      x-accepts:
      - application/json
      - application/problem+json
  /v1/printers/{printerId}/jobs/{jobId}:
    delete:
      operationId: deleteJob
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: jobId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Delete one captured job
      tags:
      - Simulator
      x-accepts:
      - application/problem+json
    get:
      operationId: getJob
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: jobId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Get one job including its raw ZPL
      tags:
      - Simulator
      x-accepts:
      - application/json
      - application/problem+json
  /v1/printers/{printerId}/jobs/{jobId}/labels/{index}.png:
    get:
      operationId: getJobLabel
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: jobId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - explode: false
        in: path
        name: index
        required: true
        schema:
          format: int64
          minimum: 0
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Get one rendered label as a PNG
      tags:
      - Simulator
      x-accepts:
      - application/json
      - application/problem+json
  /v1/printers/{printerId}/reset:
    post:
      operationId: resetPrinter
      parameters:
      - explode: false
        in: path
        name: printerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StateOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Clear all faults and flush held jobs
      tags:
      - Simulator
      x-accepts:
      - application/json
      - application/problem+json
  /v1/render:
    post:
      description: Renders every label in the ZPL stream. For a raw PNG of a single
        label use renderZplPng.
      operationId: renderZpl
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenderInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenderOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Render ZPL to PNG images
      tags:
      - Render
      x-codeSamples:
      - lang: bash
        label: curl
        source: |-
          STRIPY_HORSE_API_KEY=""
          curl https://api.stripyhorse.io/v1/render \
            -H "X-Api-Key: $STRIPY_HORSE_API_KEY" -H "Content-Type: application/json" \
            -d '{"zpl":"^XA^FO50,50^A0N,45,45^FDHello^FS^XZ","preset":"4x6"}'
      - lang: go
        label: Go
        source: |-
          cfg := stripyhorse.NewConfiguration()
          client := stripyhorse.NewAPIClient(cfg)
          ctx := context.WithValue(context.Background(),
              stripyhorse.ContextAccessToken, os.Getenv("STRIPY_HORSE_API_KEY"))

          body := stripyhorse.NewRenderInputBody("^XA^FO50,50^A0N,45,45^FDHello^FS^XZ")
          body.SetPreset("4x6")
          out, _, err := client.RenderAPI.RenderZpl(ctx).RenderInputBody(*body).Execute()
          if err != nil {
              log.Fatal(err)
          }
          png, _ := base64.StdEncoding.DecodeString(out.GetLabels()[0].GetPng())
          os.WriteFile("label.png", png, 0o644)
      - lang: php
        label: PHP
        source: |-
          $render = new StripyHorse\Api\RenderApi(null, $config);
          $out = $render->renderZpl(new StripyHorse\Model\RenderInputBody([
              'zpl' => '^XA^FO50,50^A0N,45,45^FDHello^FS^XZ', 'preset' => '4x6',
          ]));
          file_put_contents('label.png', base64_decode($out->getLabels()[0]->getPng()));
      - lang: python
        label: Python
        source: |-
          render = RenderApi(client)
          out = render.render_zpl(RenderInputBody(
              zpl="^XA^FO50,50^A0N,45,45^FDHello^FS^XZ", preset="4x6"))
          with open("label.png", "wb") as f:
              f.write(base64.b64decode(out.labels[0].png))
      - lang: csharp
        label: C#
        source: |-
          var render = new RenderApi(config);
          var outp = render.RenderZpl(new RenderInputBody(
              zpl: "^XA^FO50,50^A0N,45,45^FDHello^FS^XZ",
              preset: RenderInputBody.PresetEnum._4x6));
          File.WriteAllBytes("label.png", Convert.FromBase64String(outp.Labels[0].Png));
      - lang: java
        label: Java
        source: |-
          RenderApi render = new RenderApi(client);
          RenderOutputBody out = render.renderZpl(new RenderInputBody()
              .zpl("^XA^FO50,50^A0N,45,45^FDHello^FS^XZ")
              .preset(RenderInputBody.PresetEnum._4X6));
          Files.write(Path.of("label.png"),
              Base64.getDecoder().decode(out.getLabels().get(0).getPng()));
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/render.png:
    post:
      description: "curl-friendly variant: the X-Label-Count response header carries\
        \ the total label count."
      operationId: renderZplPng
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenderInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
          headers:
            Content-Type:
              explode: false
              schema:
                type: string
              style: simple
            X-Label-Count:
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Render ZPL and return the first label as a raw PNG
      tags:
      - Render
      x-codeSamples:
      - lang: bash
        label: curl
        source: |-
          STRIPY_HORSE_API_KEY=""
          curl https://api.stripyhorse.io/v1/render.png \
            -H "X-Api-Key: $STRIPY_HORSE_API_KEY" -H "Content-Type: application/json" \
            -d '{"zpl":"^XA^FO50,50^A0N,45,45^FDHello^FS^XZ","preset":"4x6"}' -o label.png
      - lang: go
        label: Go
        source: |-
          body := stripyhorse.NewRenderInputBody("^XA^FO50,50^A0N,45,45^FDHello^FS^XZ")
          body.SetPreset("4x6")
          png, _, err := client.RenderAPI.RenderZplPng(ctx).RenderInputBody(*body).Execute()
          os.WriteFile("label.png", []byte(png), 0o644)
      - lang: php
        label: PHP
        source: |-
          $png = (new StripyHorse\Api\RenderApi(null, $config))
              ->renderZplPng(new StripyHorse\Model\RenderInputBody(['zpl' => $zpl, 'preset' => '4x6']));
      - lang: python
        label: Python
        source: "png = RenderApi(client).render_zpl_png(RenderInputBody(zpl=zpl, preset=\"\
          4x6\"))"
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/stamp:
    post:
      description: "Bakes a PNG/GIF/JPEG (a logo, a QA stamp, a brand mark) onto every\
        \ label in the stream as a positioned graphic field drawn over the existing\
        \ content. Position and width are in printer dots; height follows the image's\
        \ aspect ratio."
      operationId: stampZpl
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StampInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StampOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Stamp an image onto ZPL labels
      tags:
      - Convert
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/unicode:
    post:
      description: "Text fields containing characters the printer's fonts can't render\
        \ (Arabic with contextual joining and RTL, Cyrillic, and everything else beyond\
        \ ASCII) are shaped properly and re-emitted as ^GFA bitmaps at the field's\
        \ exact position and size. Every other byte (barcodes, ASCII text, graphics)\
        \ passes through untouched. Fields that can't be converted safely (rotated,\
        \ ^FH-escaped) are left unchanged and reported in `skipped`."
      operationId: rasterizeUnicode
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnicodeInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnicodeOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Make Unicode ZPL printable on any Zebra
      tags:
      - Convert
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
  /v1/void:
    post:
      description: "Overlays a large diagonal VOID - DO NOT MAIL warning (and an optional\
        \ attribution stamp) across every label in the stream, so printed dev and\
        \ test labels can never be mistaken for shippable ones. Original fields are\
        \ untouched; stamps draw on top."
      operationId: voidZpl
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoidInputBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoidOutputBody"
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Error
      security:
      - bearerKey: []
      - headerKey: []
      summary: Stamp ZPL as void / do-not-ship
      tags:
      - Convert
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/problem+json
components:
  schemas:
    Barcode:
      additionalProperties: false
      example:
        blurMarginDots: 0
        checks:
        - detail: detail
          name: name
          status: pass
        - detail: detail
          name: name
          status: pass
        crossDpi:
        - dpmm: 6
          ok: true
          xDimensionMm: 1.4658129805029452
        - dpmm: 6
          ok: true
          xDimensionMm: 1.4658129805029452
        format: format
        moduleDots: 5.962133916683182
        quietLeftModules: 5.637376656633329
        quietRightModules: 2.3021358869347655
        value: value
        xDimensionMm: 7.061401241503109
      properties:
        blurMarginDots:
          description: Largest blur radius the symbol survives; 0 = no margin
          format: int64
          type: integer
        checks:
          items:
            $ref: "#/components/schemas/Check"
          nullable: true
          type: array
          default: null
        crossDpi:
          description: "X-dimension at other print densities, same dot counts"
          items:
            $ref: "#/components/schemas/DPIVerdict"
          nullable: true
          type: array
          default: null
        format:
          description: "CODE_128, CODE_39, ITF, QR_CODE, DATA_MATRIX"
          type: string
        moduleDots:
          description: Measured narrow-element width in printer dots (1D only)
          format: double
          type: number
        quietLeftModules:
          format: double
          type: number
        quietRightModules:
          format: double
          type: number
        value:
          type: string
        xDimensionMm:
          description: Physical narrow-element width at the analyzed density
          format: double
          type: number
      required:
      - blurMarginDots
      - checks
      - format
      - value
    Check:
      additionalProperties: false
      example:
        detail: detail
        name: name
        status: pass
      properties:
        detail:
          type: string
        name:
          type: string
        status:
          enum:
          - pass
          - warn
          - fail
          type: string
      required:
      - detail
      - name
      - status
    ComposeInputBody:
      additionalProperties: false
      example:
        dpmm: 0
        elements:
        - align: ""
          anchor: ""
          columns: 30
          cornerRadius: 1
          data: data
          diameter: 5
          errorCorrection: ""
          font: font
          fontHeight: 5637
          fontWidth: 2
          height: 7
          length: 9
          lineSpacing: 3
          lines: 2
          magnification: 4
          maxWidth: 7
          mode: ""
          moduleSize: 1
          moduleWidth: 1
          orientation: ""
          png: png
          printText: true
          rotation: 1
          rows: 34
          text: text
          thickness: 7
          threshold: 29
          type: text
          width: 4
          x: 0
          "y": 0
          zpl: zpl
        - align: ""
          anchor: ""
          columns: 30
          cornerRadius: 1
          data: data
          diameter: 5
          errorCorrection: ""
          font: font
          fontHeight: 5637
          fontWidth: 2
          height: 7
          length: 9
          lineSpacing: 3
          lines: 2
          magnification: 4
          maxWidth: 7
          mode: ""
          moduleSize: 1
          moduleWidth: 1
          orientation: ""
          png: png
          printText: true
          rotation: 1
          rows: 34
          text: text
          thickness: 7
          threshold: 29
          type: text
          width: 4
          x: 0
          "y": 0
          zpl: zpl
        heightMm: 0.9369310271410669
        preset: 4x6
        preview: true
        variables:
          key: variables
        widthMm: 0.6683562403749608
      properties:
        dpmm:
          enum:
          - 6
          - 8
          - 12
          - 24
          format: int64
          type: integer
        elements:
          items:
            $ref: "#/components/schemas/Element"
          nullable: true
          type: array
          default: null
        heightMm:
          format: double
          minimum: 0
          type: number
        preset:
          description: Named label size; alternative to widthMm/heightMm
          enum:
          - 4x6
          - 6x4
          - 4x8
          - 4x4
          - 4x3
          - 3x5
          - 5x3
          - 4x2
          - 2x4
          - 2x3
          - 3x2
          - 2x1
          - 3x1
          - 4x1
          - 2.25x1.25
          - 1.5x1
          - 1x1
          - netstamp
          - a6
          type: string
        preview:
          description: Also render the composed label to PNG
          type: boolean
        variables:
          additionalProperties:
            type: string
          description: "Values for {{name}} references"
        widthMm:
          format: double
          minimum: 0
          type: number
      required:
      - elements
    ComposeOutputBody:
      additionalProperties: false
      example:
        labels:
        - heightPx: 0
          index: 6
          png: png
          widthPx: 1
        - heightPx: 0
          index: 6
          png: png
          widthPx: 1
        warnings:
        - warnings
        - warnings
        zpl: zpl
      properties:
        labels:
          description: Rendered previews when preview=true
          items:
            $ref: "#/components/schemas/RenderedLabel"
          nullable: true
          type: array
          default: null
        warnings:
          items:
            type: string
          nullable: true
          type: array
          default: null
        zpl:
          type: string
      required:
      - warnings
      - zpl
    ConvertOutputBody:
      additionalProperties: false
      example:
        pages:
        - page: 0
          zpl: zpl
        - page: 0
          zpl: zpl
      properties:
        pages:
          items:
            $ref: "#/components/schemas/ConvertedPage"
          nullable: true
          type: array
          default: null
      required:
      - pages
    ConvertedPage:
      additionalProperties: false
      example:
        page: 0
        zpl: zpl
      properties:
        page:
          description: 1-based page number
          format: int64
          type: integer
        zpl:
          type: string
      required:
      - page
      - zpl
    CreatePrinterInputBody:
      additionalProperties: false
      example:
        anonymize: true
        dpmm: 0
        heightMm: 0.6027456183070403
        mode: ""
        name: name
        preset: 4x6
        webhookUrl: webhookUrl
        widthMm: 0.14658129805029452
      properties:
        anonymize:
          description: Mask PII and strip graphics from every captured frame
          type: boolean
        dpmm:
          description: Print density in dots/mm (152/203/300/600 dpi); default 8
          enum:
          - 6
          - 8
          - 12
          - 24
          format: int64
          type: integer
        heightMm:
          format: double
          minimum: 0
          type: number
        mode:
          enum:
          - ""
          - ephemeral
          - persistent
          type: string
        name:
          minLength: 1
          type: string
        preset:
          description: Named label size in inches; alternative to widthMm/heightMm
          enum:
          - 4x6
          - 6x4
          - 4x8
          - 4x4
          - 4x3
          - 3x5
          - 5x3
          - 4x2
          - 2x4
          - 2x3
          - 3x2
          - 2x1
          - 3x1
          - 4x1
          - 2.25x1.25
          - 1.5x1
          - 1x1
          - netstamp
          - a6
          type: string
        webhookUrl:
          type: string
        widthMm:
          format: double
          minimum: 0
          type: number
      required:
      - name
    DPIVerdict:
      additionalProperties: false
      example:
        dpmm: 6
        ok: true
        xDimensionMm: 1.4658129805029452
      properties:
        dpmm:
          format: int64
          type: integer
        ok:
          type: boolean
        xDimensionMm:
          format: double
          type: number
      required:
      - dpmm
      - ok
      - xDimensionMm
    Element:
      additionalProperties: false
      example:
        align: ""
        anchor: ""
        columns: 30
        cornerRadius: 1
        data: data
        diameter: 5
        errorCorrection: ""
        font: font
        fontHeight: 5637
        fontWidth: 2
        height: 7
        length: 9
        lineSpacing: 3
        lines: 2
        magnification: 4
        maxWidth: 7
        mode: ""
        moduleSize: 1
        moduleWidth: 1
        orientation: ""
        png: png
        printText: true
        rotation: 1
        rows: 34
        text: text
        thickness: 7
        threshold: 29
        type: text
        width: 4
        x: 0
        "y": 0
        zpl: zpl
      properties:
        align:
          description: Alignment when wrapping
          enum:
          - ""
          - left
          - center
          - right
          - justify
          type: string
        anchor:
          description: "Which corner x,y names. topLeft (^FO, default); bottomLeft\
            \ (^FT: the text baseline, what most designer-exported ZPL uses); the\
            \ Right variants make x the field's right edge (ZPL justification 1)"
          enum:
          - ""
          - topLeft
          - bottomLeft
          - topRight
          - bottomRight
          type: string
        columns:
          description: Grid columns (default 1)
          format: int64
          maximum: 50
          minimum: 0
          type: integer
        cornerRadius:
          description: Box corner rounding 0-8
          format: int64
          maximum: 8
          minimum: 0
          type: integer
        data:
          description: "Barcode payload; {{name}} interpolates"
          type: string
        diameter:
          description: Circle diameter in dots
          format: int64
          type: integer
        errorCorrection:
          description: QR error correction (default M)
          enum:
          - ""
          - L
          - M
          - Q
          - H
          type: string
        font:
          description: "Printer font: 0 (scalable, default) or A-Z"
          type: string
        fontHeight:
          description: Character height in dots (text)
          format: int64
          maximum: 10000
          type: integer
        fontWidth:
          description: Character width in dots; 0 follows fontHeight
          format: int64
          type: integer
        height:
          description: Bar height in dots (1D) / box height in dots (box)
          format: int64
          type: integer
        length:
          description: Line length in dots
          format: int64
          type: integer
        lineSpacing:
          description: Extra dots between wrapped lines
          format: int64
          type: integer
        lines:
          description: Max lines when wrapping (default 1)
          format: int64
          type: integer
        magnification:
          description: QR module magnification (default 3)
          format: int64
          type: integer
        maxWidth:
          description: Wrap text into a block this many dots wide
          format: int64
          type: integer
        mode:
          description: "Code 128 mode: N none (default), U UCC case, A automatic subset\
            \ switching, D UCC/EAN application identifiers"
          enum:
          - ""
          - "N"
          - U
          - A
          - D
          type: string
        moduleSize:
          description: DataMatrix module size in dots (default 4)
          format: int64
          type: integer
        moduleWidth:
          description: Narrow element width in dots (1D; default 3)
          format: int64
          type: integer
        orientation:
          description: Line direction
          enum:
          - ""
          - h
          - v
          type: string
        png:
          description: "PNG/GIF/JPEG, base64-encoded"
          type: string
        printText:
          description: Print the human-readable line under 1D barcodes (default true)
          type: boolean
        rotation:
          enum:
          - 0
          - 90
          - 180
          - 270
          format: int64
          type: integer
        rows:
          description: Grid rows (default 1)
          format: int64
          maximum: 50
          minimum: 0
          type: integer
        text:
          description: "Text content; {{name}} interpolates from variables"
          type: string
        thickness:
          description: Stroke thickness in dots (default 1)
          format: int64
          type: integer
        threshold:
          description: Bitonal threshold (default 128)
          format: int64
          maximum: 255
          minimum: 0
          type: integer
        type:
          description: What to place
          enum:
          - text
          - barcode128
          - barcode39
          - qr
          - datamatrix
          - box
          - line
          - circle
          - grid
          - image
          - raw
          type: string
        width:
          description: Box/image width in dots
          format: int64
          type: integer
        x:
          description: Left edge in dots
          format: int64
          minimum: 0
          type: integer
        "y":
          description: Top edge in dots
          format: int64
          minimum: 0
          type: integer
        zpl:
          description: Verbatim ZPL commands (raw only) - the escape hatch
          type: string
      required:
      - type
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: "Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'"
          type: string
        message:
          description: Error message text
          type: string
        value: {}
    ErrorModel:
      additionalProperties: false
      properties:
        detail:
          description: A human-readable explanation specific to this occurrence of
            the problem.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: "#/components/schemas/ErrorDetail"
          nullable: true
          type: array
          default: null
        instance:
          description: A URI reference that identifies the specific occurrence of
            the problem.
          format: uri
          type: string
        status:
          description: HTTP status code
          format: int64
          type: integer
        title:
          description: "A short, human-readable summary of the problem type. This\
            \ value should not change between occurrences of the error."
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          format: uri
          type: string
    Faults:
      additionalProperties: false
      example:
        headUp: true
        overTemp: true
        paperOut: true
        paused: true
        ribbonOut: true
        underTemp: true
      properties:
        headUp:
          type: boolean
        overTemp:
          type: boolean
        paperOut:
          type: boolean
        paused:
          type: boolean
        ribbonOut:
          type: boolean
        underTemp:
          type: boolean
    Finding:
      additionalProperties: false
      example:
        code: code
        label: 9
        message: message
        severity: error
      properties:
        code:
          type: string
        label:
          description: 1-based label index; 0 = whole stream
          format: int64
          type: integer
        message:
          type: string
        severity:
          enum:
          - error
          - warning
          - info
          type: string
      required:
      - code
      - label
      - message
      - severity
    HostStatus:
      additionalProperties: false
      example:
        blocking: true
        bufferFull: true
        commSettings: commSettings
        corruptRam: true
        diagnosticMode: true
        formatsInBuffer: 0
        functionSettings: functionSettings
        graphicsStored: 6
        headUp: true
        labelLengthDots: 1
        labelsRemaining: 5
        overTemp: true
        paperOut: true
        partialFormat: true
        password: password
        paused: true
        printMode: printMode
        ribbonOut: true
        staticRam: true
        thermalTransfer: true
        underTemp: true
      properties:
        blocking:
          description: True when any condition stops printing
          type: boolean
        bufferFull:
          type: boolean
        commSettings:
          description: Raw communication-settings code
          type: string
        corruptRam:
          type: boolean
        diagnosticMode:
          type: boolean
        formatsInBuffer:
          description: Jobs waiting in the receive buffer
          format: int64
          type: integer
        functionSettings:
          description: Raw function-settings code
          type: string
        graphicsStored:
          format: int64
          type: integer
        headUp:
          type: boolean
        labelLengthDots:
          format: int64
          type: integer
        labelsRemaining:
          format: int64
          type: integer
        overTemp:
          type: boolean
        paperOut:
          type: boolean
        partialFormat:
          type: boolean
        password:
          type: string
        paused:
          type: boolean
        printMode:
          description: "rewind, peel-off, tear-off, cutter or applicator"
          type: string
        ribbonOut:
          type: boolean
        staticRam:
          type: boolean
        thermalTransfer:
          type: boolean
        underTemp:
          type: boolean
      required:
      - blocking
      - bufferFull
      - commSettings
      - corruptRam
      - diagnosticMode
      - formatsInBuffer
      - functionSettings
      - graphicsStored
      - headUp
      - labelLengthDots
      - labelsRemaining
      - overTemp
      - paperOut
      - partialFormat
      - password
      - paused
      - printMode
      - ribbonOut
      - staticRam
      - thermalTransfer
      - underTemp
    HostStatusInputBody:
      additionalProperties: false
      example:
        response: response
      properties:
        response:
          description: "The three ~HS status lines, as received"
          type: string
      required:
      - response
    HostStatusOutputBody:
      additionalProperties: false
      example:
        fields:
        - field: field
          raw: raw
          value: value
        - field: field
          raw: raw
          value: value
        status:
          blocking: true
          bufferFull: true
          commSettings: commSettings
          corruptRam: true
          diagnosticMode: true
          formatsInBuffer: 0
          functionSettings: functionSettings
          graphicsStored: 6
          headUp: true
          labelLengthDots: 1
          labelsRemaining: 5
          overTemp: true
          paperOut: true
          partialFormat: true
          password: password
          paused: true
          printMode: printMode
          ribbonOut: true
          staticRam: true
          thermalTransfer: true
          underTemp: true
      properties:
        fields:
          description: Every field with its documented meaning and raw token
          items:
            $ref: "#/components/schemas/StatusField"
          nullable: true
          type: array
          default: null
        status:
          $ref: "#/components/schemas/HostStatus"
      required:
      - fields
      - status
    HtmlInputBody:
      additionalProperties: false
      example:
        compression: acs
        dpmm: 0
        heightMm: 0.6027456183070403
        html: html
        preset: 4x6
        threshold: 38
        widthMm: 0.5962133916683182
      properties:
        compression:
          enum:
          - acs
          - z64
          type: string
        dpmm:
          enum:
          - 6
          - 8
          - 12
          - 24
          format: int64
          type: integer
        heightMm:
          format: double
          minimum: 0
          type: number
        html:
          description: "Label markup: HTML/CSS plus <zpl-barcode> elements"
          type: string
        preset:
          enum:
          - 4x6
          - 6x4
          - 4x8
          - 4x4
          - 4x3
          - 3x5
          - 5x3
          - 4x2
          - 2x4
          - 2x3
          - 3x2
          - 2x1
          - 3x1
          - 4x1
          - 2.25x1.25
          - 1.5x1
          - 1x1
          - netstamp
          - a6
          type: string
        threshold:
          format: int64
          maximum: 255
          minimum: 1
          type: integer
        widthMm:
          format: double
          minimum: 0
          type: number
      required:
      - html
    HtmlOutputBody:
      additionalProperties: false
      example:
        heightPx: 0
        widthPx: 6
        zpl: zpl
      properties:
        heightPx:
          format: int64
          type: integer
        widthPx:
          format: int64
          type: integer
        zpl:
          type: string
      required:
      - heightPx
      - widthPx
      - zpl
    JobOutputBody:
      additionalProperties: false
      example:
        labels:
        - labels
        - labels
        zpl: zpl
      properties:
        labels:
          description: URLs of the rendered label PNGs
          items:
            type: string
          nullable: true
          type: array
          default: null
        zpl:
          description: The raw ZPL as received
          type: string
      required:
      - labels
      - zpl
    JobSummary:
      additionalProperties: false
      example:
        error: error
        id: 0
        labelCount: 6
        receivedAt: 2000-01-23T04:56:07.000+00:00
        source: tcp
        status: rendered
        zplBytes: 1
      properties:
        error:
          type: string
        id:
          format: int64
          type: integer
        labelCount:
          format: int64
          type: integer
        receivedAt:
          format: date-time
          type: string
        source:
          enum:
          - tcp
          - https
          type: string
        status:
          enum:
          - rendered
          - render_failed
          type: string
        zplBytes:
          format: int64
          type: integer
      required:
      - id
      - labelCount
      - receivedAt
      - source
      - status
      - zplBytes
    ListJobsOutputBody:
      additionalProperties: false
      example:
        jobs:
        - error: error
          id: 0
          labelCount: 6
          receivedAt: 2000-01-23T04:56:07.000+00:00
          source: tcp
          status: rendered
          zplBytes: 1
        - error: error
          id: 0
          labelCount: 6
          receivedAt: 2000-01-23T04:56:07.000+00:00
          source: tcp
          status: rendered
          zplBytes: 1
      properties:
        jobs:
          items:
            $ref: "#/components/schemas/JobSummary"
          nullable: true
          type: array
          default: null
      required:
      - jobs
    ListPrintersOutputBody:
      additionalProperties: false
      example:
        printers:
        - anonymize: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          dpmm: 0
          expiresAt: 2000-01-23T04:56:07.000+00:00
          heightMm: 6.027456183070403
          id: id
          ingestUrl: ingestUrl
          mode: ephemeral
          name: name
          state:
            darkness: darkness
            faults:
              headUp: true
              overTemp: true
              paperOut: true
              paused: true
              ribbonOut: true
              underTemp: true
            formatsInBuffer: 1
            friendlyName: friendlyName
            labelLengthDots: 5
            odometer: 5
            speedIps: speedIps
            tearOff: tearOff
            widthDots: 2
          tcp:
            host: host
            port: 7
          webhookSecret: webhookSecret
          webhookUrl: webhookUrl
          widthMm: 9.301444243932576
        - anonymize: true
          createdAt: 2000-01-23T04:56:07.000+00:00
          dpmm: 0
          expiresAt: 2000-01-23T04:56:07.000+00:00
          heightMm: 6.027456183070403
          id: id
          ingestUrl: ingestUrl
          mode: ephemeral
          name: name
          state:
            darkness: darkness
            faults:
              headUp: true
              overTemp: true
              paperOut: true
              paused: true
              ribbonOut: true
              underTemp: true
            formatsInBuffer: 1
            friendlyName: friendlyName
            labelLengthDots: 5
            odometer: 5
            speedIps: speedIps
            tearOff: tearOff
            widthDots: 2
          tcp:
            host: host
            port: 7
          webhookSecret: webhookSecret
          webhookUrl: webhookUrl
          widthMm: 9.301444243932576
      properties:
        printers:
          items:
            $ref: "#/components/schemas/PrinterBody"
          nullable: true
          type: array
          default: null
      required:
      - printers
    PreflightInputBody:
      additionalProperties: false
      example:
        dpmm: 0
        heightMm: 0.6027456183070403
        preset: 4x6
        widthMm: 0.14658129805029452
        zpl: zpl
      properties:
        dpmm:
          enum:
          - 6
          - 8
          - 12
          - 24
          format: int64
          type: integer
        heightMm:
          format: double
          minimum: 0
          type: number
        preset:
          description: Named label size; alternative to widthMm/heightMm
          enum:
          - 4x6
          - 6x4
          - 4x8
          - 4x4
          - 4x3
          - 3x5
          - 5x3
          - 4x2
          - 2x4
          - 2x3
          - 3x2
          - 2x1
          - 3x1
          - 4x1
          - 2.25x1.25
          - 1.5x1
          - 1x1
          - netstamp
          - a6
          type: string
        widthMm:
          format: double
          minimum: 0
          type: number
        zpl:
          type: string
      required:
      - zpl
    PreflightOutputBody:
      additionalProperties: false
      example:
        labels:
        - barcodes:
          - blurMarginDots: 0
            checks:
            - detail: detail
              name: name
              status: pass
            - detail: detail
              name: name
              status: pass
            crossDpi:
            - dpmm: 6
              ok: true
              xDimensionMm: 1.4658129805029452
            - dpmm: 6
              ok: true
              xDimensionMm: 1.4658129805029452
            format: format
            moduleDots: 5.962133916683182
            quietLeftModules: 5.637376656633329
            quietRightModules: 2.3021358869347655
            value: value
            xDimensionMm: 7.061401241503109
          - blurMarginDots: 0
            checks:
            - detail: detail
              name: name
              status: pass
            - detail: detail
              name: name
              status: pass
            crossDpi:
            - dpmm: 6
              ok: true
              xDimensionMm: 1.4658129805029452
            - dpmm: 6
              ok: true
              xDimensionMm: 1.4658129805029452
            format: format
            moduleDots: 5.962133916683182
            quietLeftModules: 5.637376656633329
            quietRightModules: 2.3021358869347655
            value: value
            xDimensionMm: 7.061401241503109
          grade: pass
          warnings:
          - warnings
          - warnings
        - barcodes:
          - blurMarginDots: 0
            checks:
            - detail: detail
              name: name
              status: pass
            - detail: detail
              name: name
              status: pass
            crossDpi:
            - dpmm: 6
              ok: true
              xDimensionMm: 1.4658129805029452
            - dpmm: 6
              ok: true
              xDimensionMm: 1.4658129805029452
            format: format
            moduleDots: 5.962133916683182
            quietLeftModules: 5.637376656633329
            quietRightModules: 2.3021358869347655
            value: value
            xDimensionMm: 7.061401241503109
          - blurMarginDots: 0
            checks:
            - detail: detail
              name: name
              status: pass
            - detail: detail
              name: name
              status: pass
            crossDpi:
            - dpmm: 6
              ok: true
              xDimensionMm: 1.4658129805029452
            - dpmm: 6
              ok: true
              xDimensionMm: 1.4658129805029452
            format: format
            moduleDots: 5.962133916683182
            quietLeftModules: 5.637376656633329
            quietRightModules: 2.3021358869347655
            value: value
            xDimensionMm: 7.061401241503109
          grade: pass
          warnings:
          - warnings
          - warnings
        lint:
        - code: code
          label: 9
          message: message
          severity: error
        - code: code
          label: 9
          message: message
          severity: error
      properties:
        labels:
          description: One report per rendered label
          items:
            $ref: "#/components/schemas/Report"
          nullable: true
          type: array
          default: null
        lint:
          description: "Static ZPL findings: structure, encoding, bounds"
          items:
            $ref: "#/components/schemas/Finding"
          nullable: true
          type: array
          default: null
      required:
      - labels
      - lint
    PrinterBody:
      additionalProperties: false
      example:
        anonymize: true
        createdAt: 2000-01-23T04:56:07.000+00:00
        dpmm: 0
        expiresAt: 2000-01-23T04:56:07.000+00:00
        heightMm: 6.027456183070403
        id: id
        ingestUrl: ingestUrl
        mode: ephemeral
        name: name
        state:
          darkness: darkness
          faults:
            headUp: true
            overTemp: true
            paperOut: true
            paused: true
            ribbonOut: true
            underTemp: true
          formatsInBuffer: 1
          friendlyName: friendlyName
          labelLengthDots: 5
          odometer: 5
          speedIps: speedIps
          tearOff: tearOff
          widthDots: 2
        tcp:
          host: host
          port: 7
        webhookSecret: webhookSecret
        webhookUrl: webhookUrl
        widthMm: 9.301444243932576
      properties:
        anonymize:
          description: "When true, PII is masked and graphics stripped from every\
            \ captured frame"
          type: boolean
        createdAt:
          format: date-time
          type: string
        dpmm:
          format: int64
          type: integer
        expiresAt:
          format: date-time
          type: string
        heightMm:
          format: double
          type: number
        id:
          type: string
        ingestUrl:
          description: HTTPS print capability URL. Only returned on creation.
          type: string
        mode:
          enum:
          - ephemeral
          - persistent
          type: string
        name:
          type: string
        state:
          $ref: "#/components/schemas/StatusSnapshot"
        tcp:
          $ref: "#/components/schemas/PrinterBodyTCPStruct"
        webhookSecret:
          description: HMAC-SHA256 key for X-Stripy-Horse-Signature. Only returned
            on creation.
          type: string
        webhookUrl:
          type: string
        widthMm:
          format: double
          type: number
      required:
      - anonymize
      - createdAt
      - dpmm
      - heightMm
      - id
      - mode
      - name
      - tcp
      - widthMm
    PrinterBodyTCPStruct:
      additionalProperties: false
      example:
        host: host
        port: 7
      properties:
        host:
          type: string
        port:
          format: int32
          type: integer
      required:
      - host
      - port
    RenderInputBody:
      additionalProperties: false
      example:
        dpmm: 0
        heightMm: 0.6027456183070403
        preset: 4x6
        rotation: 1
        widthMm: 0.5962133916683182
        zpl: zpl
      properties:
        dpmm:
          description: Print density in dots/mm (152/203/300/600 dpi); default 8
          enum:
          - 6
          - 8
          - 12
          - 24
          format: int64
          type: integer
        heightMm:
          format: double
          minimum: 0
          type: number
        preset:
          description: Named label size in inches; alternative to widthMm/heightMm
          enum:
          - 4x6
          - 6x4
          - 4x8
          - 4x4
          - 4x3
          - 3x5
          - 5x3
          - 4x2
          - 2x4
          - 2x3
          - 3x2
          - 2x1
          - 3x1
          - 4x1
          - 2.25x1.25
          - 1.5x1
          - 1x1
          - netstamp
          - a6
          type: string
        rotation:
          enum:
          - 0
          - 90
          - 180
          - 270
          format: int64
          type: integer
        widthMm:
          format: double
          minimum: 0
          type: number
        zpl:
          type: string
      required:
      - zpl
    RenderOutputBody:
      additionalProperties: false
      example:
        labelCount: 0
        labels:
        - heightPx: 0
          index: 6
          png: png
          widthPx: 1
        - heightPx: 0
          index: 6
          png: png
          widthPx: 1
      properties:
        labelCount:
          format: int64
          type: integer
        labels:
          items:
            $ref: "#/components/schemas/RenderedLabel"
          nullable: true
          type: array
          default: null
      required:
      - labelCount
      - labels
    RenderedLabel:
      additionalProperties: false
      example:
        heightPx: 0
        index: 6
        png: png
        widthPx: 1
      properties:
        heightPx:
          format: int64
          type: integer
        index:
          format: int64
          type: integer
        png:
          description: Base64-encoded PNG
          type: string
        widthPx:
          format: int64
          type: integer
      required:
      - heightPx
      - index
      - png
      - widthPx
    Report:
      additionalProperties: false
      example:
        barcodes:
        - blurMarginDots: 0
          checks:
          - detail: detail
            name: name
            status: pass
          - detail: detail
            name: name
            status: pass
          crossDpi:
          - dpmm: 6
            ok: true
            xDimensionMm: 1.4658129805029452
          - dpmm: 6
            ok: true
            xDimensionMm: 1.4658129805029452
          format: format
          moduleDots: 5.962133916683182
          quietLeftModules: 5.637376656633329
          quietRightModules: 2.3021358869347655
          value: value
          xDimensionMm: 7.061401241503109
        - blurMarginDots: 0
          checks:
          - detail: detail
            name: name
            status: pass
          - detail: detail
            name: name
            status: pass
          crossDpi:
          - dpmm: 6
            ok: true
            xDimensionMm: 1.4658129805029452
          - dpmm: 6
            ok: true
            xDimensionMm: 1.4658129805029452
          format: format
          moduleDots: 5.962133916683182
          quietLeftModules: 5.637376656633329
          quietRightModules: 2.3021358869347655
          value: value
          xDimensionMm: 7.061401241503109
        grade: pass
        warnings:
        - warnings
        - warnings
      properties:
        barcodes:
          items:
            $ref: "#/components/schemas/Barcode"
          nullable: true
          type: array
          default: null
        grade:
          description: Worst status across all checks
          enum:
          - pass
          - warn
          - fail
          type: string
        warnings:
          description: "Label-level notes, e.g. no barcodes found"
          items:
            type: string
          nullable: true
          type: array
          default: null
      required:
      - barcodes
      - grade
    StampInputBody:
      additionalProperties: false
      example:
        image: image
        widthDots: 800
        x: 0
        "y": 0
        zpl: zpl
      properties:
        image:
          description: "PNG/GIF/JPEG, base64-encoded"
          type: string
        widthDots:
          description: Stamp width in dots; 0 keeps the image's natural size
          format: int64
          maximum: 10000
          minimum: 0
          type: integer
        x:
          description: Left edge in dots
          format: int64
          minimum: 0
          type: integer
        "y":
          description: Top edge in dots
          format: int64
          minimum: 0
          type: integer
        zpl:
          type: string
      required:
      - image
      - zpl
    StampOutputBody:
      additionalProperties: false
      example:
        zpl: zpl
      properties:
        zpl:
          type: string
      required:
      - zpl
    StateOutputBody:
      additionalProperties: false
      example:
        state:
          darkness: darkness
          faults:
            headUp: true
            overTemp: true
            paperOut: true
            paused: true
            ribbonOut: true
            underTemp: true
          formatsInBuffer: 1
          friendlyName: friendlyName
          labelLengthDots: 5
          odometer: 5
          speedIps: speedIps
          tearOff: tearOff
          widthDots: 2
      properties:
        state:
          $ref: "#/components/schemas/StatusSnapshot"
      required:
      - state
    StatusField:
      additionalProperties: false
      example:
        field: field
        raw: raw
        value: value
      properties:
        field:
          type: string
        raw:
          type: string
        value:
          type: string
      required:
      - field
      - raw
      - value
    StatusSnapshot:
      additionalProperties: false
      example:
        darkness: darkness
        faults:
          headUp: true
          overTemp: true
          paperOut: true
          paused: true
          ribbonOut: true
          underTemp: true
        formatsInBuffer: 1
        friendlyName: friendlyName
        labelLengthDots: 5
        odometer: 5
        speedIps: speedIps
        tearOff: tearOff
        widthDots: 2
      properties:
        darkness:
          description: "print.tone setting, e.g. 20.0"
          type: string
        faults:
          $ref: "#/components/schemas/Faults"
        formatsInBuffer:
          format: int64
          type: integer
        friendlyName:
          description: device.friendly_name override; empty means unset
          type: string
        labelLengthDots:
          format: int64
          type: integer
        odometer:
          format: int64
          type: integer
        speedIps:
          description: "media.speed setting, inches/second"
          type: string
        tearOff:
          description: "ezpl.tear_off setting, dots"
          type: string
        widthDots:
          format: int64
          type: integer
      required:
      - darkness
      - faults
      - formatsInBuffer
      - friendlyName
      - labelLengthDots
      - odometer
      - speedIps
      - tearOff
      - widthDots
    UnicodeInputBody:
      additionalProperties: false
      example:
        zpl: zpl
      properties:
        zpl:
          type: string
      required:
      - zpl
    UnicodeOutputBody:
      additionalProperties: false
      example:
        fieldsRasterized: 0
        skipped:
        - skipped
        - skipped
        zpl: zpl
      properties:
        fieldsRasterized:
          format: int64
          type: integer
        skipped:
          items:
            type: string
          nullable: true
          type: array
          default: null
        zpl:
          type: string
      required:
      - fieldsRasterized
      - zpl
    UpdatePrinterInputBody:
      additionalProperties: false
      example:
        anonymize: true
        name: name
        webhookUrl: webhookUrl
      properties:
        anonymize:
          type: boolean
        name:
          type: string
        webhookUrl:
          type: string
    VoidInputBody:
      additionalProperties: false
      example:
        dpmm: 0
        heightMm: 0.6027456183070403
        preset: 4x6
        stamp: stamp
        text: text
        widthMm: 0.14658129805029452
        zpl: zpl
      properties:
        dpmm:
          enum:
          - 6
          - 8
          - 12
          - 24
          format: int64
          type: integer
        heightMm:
          format: double
          minimum: 0
          type: number
        preset:
          description: Named label size in inches; alternative to widthMm/heightMm
          enum:
          - 4x6
          - 6x4
          - 4x8
          - 4x4
          - 4x3
          - 3x5
          - 5x3
          - 4x2
          - 2x4
          - 2x3
          - 3x2
          - 2x1
          - 3x1
          - 4x1
          - 2.25x1.25
          - 1.5x1
          - 1x1
          - netstamp
          - a6
          type: string
        stamp:
          description: "Attribution stamp, e.g. VOID: bfaerber"
          type: string
        text:
          description: Warning text; default VOID - DO NOT MAIL
          type: string
        widthMm:
          format: double
          minimum: 0
          type: number
        zpl:
          type: string
      required:
      - zpl
    VoidOutputBody:
      additionalProperties: false
      example:
        zpl: zpl
      properties:
        zpl:
          type: string
      required:
      - zpl
    ZplHTMLInputBody:
      additionalProperties: false
      example:
        dpmm: 0
        heightMm: 0.6027456183070403
        preset: 4x6
        widthMm: 0.14658129805029452
        zpl: zpl
      properties:
        dpmm:
          description: Print density in dots/mm (152/203/300/600 dpi); default 8
          enum:
          - 6
          - 8
          - 12
          - 24
          format: int64
          type: integer
        heightMm:
          format: double
          minimum: 0
          type: number
        preset:
          description: Named label size in inches; alternative to widthMm/heightMm
          enum:
          - 4x6
          - 6x4
          - 4x8
          - 4x4
          - 4x3
          - 3x5
          - 5x3
          - 4x2
          - 2x4
          - 2x3
          - 3x2
          - 2x1
          - 3x1
          - 4x1
          - 2.25x1.25
          - 1.5x1
          - 1x1
          - netstamp
          - a6
          type: string
        widthMm:
          format: double
          minimum: 0
          type: number
        zpl:
          type: string
      required:
      - zpl
    ZplHTMLOutputBody:
      additionalProperties: false
      example:
        html: html
      properties:
        html:
          description: Editable HTML in the convertHtml dialect
          type: string
      required:
      - html
    convertDocument_request:
      properties:
        barcodeAware:
          description: "EXPERIMENTAL: re-emit decodable barcodes as native ^BC/^BQ\
            \ fields, verified by a decode round trip with automatic fallback to plain\
            \ rasterization"
          type: boolean
        compression:
          description: "acs (default) or z64 (zlib+base64, smaller payloads)"
          type: string
        dpmm:
          format: int64
          type: integer
        file:
          description: "PDF, PNG, GIF or JPEG"
          format: binary
          type: string
        heightMm:
          format: double
          type: number
        preset:
          type: string
        rotation:
          format: int64
          type: integer
        scale:
          description: "cover (fit), fill (stretch) or none"
          type: string
        threshold:
          format: int64
          type: integer
        widthMm:
          format: double
          type: number
      required:
      - file
    convertBatch_request:
      properties:
        barcodeAware:
          type: boolean
        compression:
          type: string
        dpmm:
          format: int64
          type: integer
        files:
          items:
            description: Up to 20 PDFs/images
            format: binary
            type: string
          type: array
          default: null
        heightMm:
          format: double
          type: number
        preset:
          type: string
        rotation:
          format: int64
          type: integer
        scale:
          type: string
        threshold:
          format: int64
          type: integer
        widthMm:
          format: double
          type: number
      required:
      - files
  securitySchemes:
    bearerKey:
      bearerFormat: sh_live_…
      scheme: bearer
      type: http
    headerKey:
      in: header
      name: X-Api-Key
      type: apiKey

